doctype html
html(lang="")
	head
		meta(
			charset="utf-8",
			name="viewport",
			content="width=device-width, initial-scale=1.0"
		)
		title= site.title
		block head
		link(rel="stylesheet", href="/_assets/main.css")
		script(src="/main.js")
	body
		header
			h1: a(href="/")= site.title
		div
			block content
		footer
			span &copy;
				a(href="https://twitter.com/johnnynotsolucky") Tyrone Tudehope
