@import "./font.css";

header {
	margin-bottom: 1.56rem;
	color: hsla(0,0%,0%,0.85);
	font-family: 'Montserrat', sans-serif;
	a {
		font-weight: 300;
		font-size: 1.56rem;
		text-decoration: none !important;
	}
}

h1, h2, h3 {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.56rem;
	color: hsla(0,0%,0%,0.85);
	font-family: 'Montserrat',sans-serif;
	text-rendering: optimizeLegibility;
}

h1 {
	font-weight: 300;
	line-height: 1.1;
	font-size: 1.9rem;
}

h2 {
	font-weight: 300;
	font-size: 1.65rem;
}

h3 {
	margin: 0.25em 0;
	font-weight: 100;
	font-size: 1.3rem;

	a {
		/* text-decoration: none; */
		box-shadow: none;
	}
}

body, p {
	font-size: 1.1rem;
	font-family: 'Crimson Text', 'Georgia Times', 'Times New Roman', serif;
}

a {
	color: inherit;
	text-decoration: underline;
	font-weight: 400;

}

a:hover {
	color: inherit;
}

ul {
	margin-left: 1.56rem;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 1.56rem;
	list-style-position: outside;
	list-style-image: none;
}

li {
	font-size: 1.25rem;
}

span.datetime {
	font-size: 0.9rem;
	font-family: 'Montserrat',sans-serif;
	font-weight: 200;
	margin-left: 0.25em;
}

footer {
	span, a {
		font-size: 0.9rem;
		font-family: 'Montserrat',sans-serif;
		font-weight: 200;
		margin-left: 0.25em;
	}
}

div.actions {
	a {
		font-family: 'Montserrat',sans-serif;
		display: inline-block;
		margin: 1.25em 0;
	}
}

:not(pre) > code {
	font-family: 'Fira Mono', 'Ubuntu Mono', monospace;
	font-weight: 100;
	font-size: 0.8rem;
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: #f9f2f4;
}

pre > code {
	font-family: 'Fira Mono', 'Ubuntu Mono', monospace;
	font-weight: 100;
	font-size: 0.8rem;
	line-height: 1.1rem;
}
